<nav>
    <ul id="nav">
        <% if(locals.user) {%> 
        <li>
            <a href="/notebook">See a List of Notes</a>
        </li>
        <li>
            <a href="/notebook/new">Add New Notes</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <% } else { %> 
        <li>
            <a href="/signup">Sign Up</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <% }; %> 
    </ul>
</nav>