<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Notes</title>
</head>

<body>
    <h1 class="title">Notebook</h1>
            <div class="threeThings">
                <% if(locals.user) {%>
                    <h3><a href="/logout">Logout</a></h3>
                    <% } else { %> 
                        <h3><a href="/signup">Signup</a></h3>
                        <h3><a href="/login">Login</a></h3>
                <% }; %> 
                <h3>About</h3>
        </div>
    <ul class="clear">
        <li>My Notes</li>
        <li>Favorite</li>
        <li>Recent</li>
        <li>Shared</li>
        <li>Deleted</li>
    </ul>
    <h3>List of Notes</h3>
    <a href="/notebook/new">Add a New Note</a>
    <ul>
        <li>
            <% notebook.forEach(note=>{ %>
            <a href="/notebook/<%= note._id %>">
                <%= note.title %>
            </a><br>
            <a href="/notebook/<%= note._id %>/edit"><button>Edit</button></a>
            <form action="/notebook/<%= note._id %>?_method=DELETE" method="post">
            <input type="submit" value="DELETE"/>
            </form>
        </li>
        <% }) %>
    </ul>
</body>

</html>