<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add a New Note</title>
</head>

<body>
    <%- include('./partials/nav') %> 
    <h1>New Note Page</h1>
    <form action="/notebook" method="POST">
        Title: <input type="text" name="title"><br>
        Author: <input type="text" name="author"><br>
        Date: <input type="date" name="date"><br>
        Content: <textarea name="content" cols="50" rows="10"></textarea><br>
        <input type="submit" value="Submit Changes">
    </form>
</body>

</html>