<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add a New Note</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>New Note Page</h1>
    <!-- enctype will make sure req.files is defined -->
    <form action="/notebook" method="POST" enctype="multipart/form-data">
        Title: <input type="text" name="title"><br>
        <input type="hidden" name="createdBy" value="<%= locals.user %>">
        <!-- <select name="createdBy"> -->
        <!-- <% for(var i = 0; i < users.length; i++){ %> -->
        <!-- <option value="<%= users[i]._id %>"><%= users[i].email.split('@')[0] %> </option> -->
        <!-- <% }; %> -->
        <!-- </select> -->
        <br>
        Date: <input type="date" name="date"><br>
        Content: <textarea name="content" cols="50" rows="10"></textarea><br>
        Photo: <input type="file" name="photo">
        <input type="submit" value="Submit Changes">
    </form>
</body>

</html>