<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Signup Page</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <label>
            Email: <input type="email" name="email" required>
        </label>
        <label>
            Password: <input type="password" name="password" required>
        </label>
        <input type="submit" value="Sign Up">
    </form>
</body>

</html>