/* home page */
body{
    background-color: rgb(217, 242, 250);
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 150px;
}

#welcome{
    font-family: 'Fredericka the Great', cursive;
    color: rgb(1, 78, 141);
    font-size: 80px;
}

#intro{
    font-family: 'Dancing Script', cursive;
    color:rgb(1, 78, 141);
    font-size: 65px;
}

/* index page */
.title{
    float: left;
}

.threeThings h3{
    float: right;
    display: inline;
    margin-left: 50px;
}

/* make sure that the threeThings stay underneath title */
.clear2{ 
    clear:both;
}
