body{
    background: linear-gradient(to right, #b4edfc, #a9c8f0);
}
/* nav page */
#nav{
    list-style-type: none;
}

/* home page */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 214, 255);
    padding: 150px;
}

#welcome{
    font-family: 'Solitreo', cursive;
    color: rgb(1, 78, 141);
    font-size: 80px;
}

#intro{
    font-family: 'Solitreo', cursive;
    color:rgb(1, 78, 141);
    font-size: 65px;
}

/* login page */
#loginBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login{
    margin: 200px; 
    border: solid rgb(116, 180, 218) 1px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    box-shadow:
    inset 0 0 10px rgb(170, 227, 253), /* bottom */
    inset 0 0 10px rgb(170, 227, 253), /* top */
    inset 10px 0 10px rgb(170, 227, 253), /* right */
    inset -10px 0 10px rgb(170, 227, 253); /* left */
}

#pleaseLogin{
    margin-top: 40px;
    margin-bottom: 60px;
}

#btnsL{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}


/* index page */
.title{
    float: left;
}

.threeThings h3{
    float: right;
    display: inline;
    margin-left: 50px;
}

/* make sure that the threeThings stay underneath title */
.clear2{ 
    clear:both;
}
