.title{
    float: left;
}

.threeThings h3{
    float: right;
    display: inline;
    margin-left: 50px;
}

/* make sure that the threeThings stay underneath title */
.clear{ 
    clear:both;
}
